<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>tg-bot.tarantool-delivery-checker.mac-mini</string>
        <key>ProgramArguments</key>
        <array>
            <string>WORK_DIR/run_bot.sh</string>
        </array>
        <key>UserName</key>
        <string>USER_NAME</string>
        <key>WorkingDirectory</key>
        <string>WORK_DIR</string>
        <key>RunAtLoad</key>
        <true/>
        <key>KeepAlive</key>
        <true/>
        <key>StandardOutPath</key>
        <string>HOME_DIR/Library/Logs/tg-bot.tarantool-delivery-checker.mac-mini/stdout.log</string>
        <key>StandardErrorPath</key>
        <string>HOME_DIR/Library/Logs/tg-bot.tarantool-delivery-checker.mac-mini/stderr.log</string>
        <key>ProcessType</key>
        <string>Interactive</string>
    </dict>
</plist>
