name: Debian
on:
  schedule:
    - cron: '0 1 * * *'
  workflow_dispatch:
  pull_request:
    paths:
      - '.github/workflows/debian.yml'

# Cancel workflow runs on PRs when the PR is updated with a newer commit.
# Such runs will have a concurrency group named
# `{github.workflow}-{github.ref}`,
# for example,
# `Amazon Linux-refs/pull/42/merge`.
#
# Runs on branch `master` and tags will never be canceled,
# due to having a unique group name
# `{github.run_id}-{github.run_attempt}`,
# for example,
# `3477882280-1`.
concurrency:
  group: ${{
    (
    github.ref == 'refs/heads/master' ||
    startsWith(github.ref, 'refs/tags/')
    ) &&
    format('{0}-{1}', github.run_id, github.run_attempt) ||
    format('{0}-{1}', github.workflow, github.ref) }}
  cancel-in-progress: true

jobs:
  debian:
    env:
      dist: 'debian'
    strategy:
      fail-fast: false
      matrix:
        dist-version: [ '11', '10', '9' ]
        tarantool-version: [ '2.10', '1.10' ]
        pkg-type: [ '', 'gc64' ]
        build: [ 'script', 'manual' ]
        exclude:
          - tarantool-version: '1.10'
            pkg-type: 'gc64'
          - build: 'manual'
            pkg-type: 'gc64'
    runs-on: [ self-hosted, ubuntu-20.04-self-hosted ]
    steps:
      - uses: actions/checkout@master

      - name: Setup Python environment
        uses: actions/setup-python@v4
        with:
          python-version: '3.8.5'
          cache: pip
      - name: Setup Python requirements
        run: pip install -r requirements.txt

      - name: Check installation of Tarantool
        run: |
          python check.py --config config-example.json \
            --dist ${{ env.dist }} \
            --dist-version ${{ matrix.dist-version }} \
            --version ${{ matrix.tarantool-version }} \
            --build ${{ matrix.build }} \
            -d -v ${{ matrix.pkg-type == 'gc64' && '--gc64' || '' }}

      - uses: actions/upload-artifact@v3
        if: always()
        with:
          name: ${{ github.job }}-${{ Join(matrix.*, '-') }}
          path: archive

      - name: Send notification
        if: failure()
        uses: ./.github/actions/failure-notify
        with:
          bot-token: ${{ secrets.VKTEAMS_TARANTOOLBOT_TOKEN }}
          service-chat-id: ${{ secrets.VKTEAMS_SERVICE_CHAT_ID }}
          debug-chat-id: ${{ secrets.VKTEAMS_DEBUG_CHAT_ID }}
